<div class="container mt-5">
  <% if @bank_accounts.present? %>
    <% @bank_accounts.each do |bank_account| %>
      <p class="mb-3">Account number: <span><%= bank_account.account %></span></p>
      <p>Account balance: <span class="bold"><%= bank_account.balance %></span></p>
    <% end %>
  <% end %>
</div>
